body {
  font-family: Arial, sans-serif;
  text-align: center;
}



.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}

.quote-display {
  width: 40%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px;
}

.magic-quote {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.user-quotes {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.search-bar {
  width: 50%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}


.sign-in-container {
  display: flex;
  justify-content: center;

  align-items: center;
  height: 100vh;
  margin-top: 20px; 
}

.sign-in-form {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px; 
}
.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 20px;
 
}

.homePage input {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.homePage button {
  width: 320px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.homePage button:hover {
  background-color: #0056b3;
}
.sign-off-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.sign-off-button:hover {
  background-color: #ff3333;
}
